node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode

admin/node_modules
admin/build/
admin/npm-debug.log
admin/Dockerfile*
admin/docker-compose*
admin/.dockerignore
admin/.git
admin/.gitignore
admin/README.md
admin/LICENSE
admin/.vscode
admin/.prettierignore
admin/.eslintrc.js

server/node_modules
server/build/
server/npm-debug.log
server/Dockerfile*
server/docker-compose*
server/.dockerignore
server/.git
server/.gitignore
server/README.md
server/LICENSE
server/.vscode
server/.prettierignore
server/.eslintrc.js
