.container {
  max-width: 100%;
  padding: 0 2rem;
  z-index: 10;
  margin: 3rem auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background-random {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (min-width: 640px) {
  .background-random {
    background-position: center center;
  }
  .container {
    max-width: 60%;
  }
}
